<div class="beer-details">
  <img src="{{this.image_url}}" alt="{{this.name}} Image" class="beer-image">
    <div class="beer-description">
        <h2>
          {{this.name}}
        </h2>
          <p>{{this.description}}</p>
          <p><strong>Tagline:</strong> {{this.tagline}}</p>
    </div>
</div>

